h2{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 128px;
   font-weight: 500;
   font-style: initial;
   font-stretch: narrower;
   color: darkblue;}